@charset "UTF-8";
header {
  width: 100%;
  height: 100px;
  background: #2d2d2d;
  display: flex;
  justify-content: space-around;
  color: #fff;
  line-height: 26px;
}
header .logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: -5%;
}
header .logo-div a {
  margin-left: 14%;
}
header .logo-div p {
  margin-left: 10%;
}
header .icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
header .icon-div * {
  margin-left: 2%;
}
header .icon-div button {
  background: transparent;
  color: #fff;
  padding: 15px 30px;
  border: 1px solid #ffbf1d;
  font-weight: 550;
  transition: all 0.4s;
}
header .icon-div button:hover {
  background-color: #4d4c4c;
}
header .icon-div i {
  color: #ffbf1d;
  margin-right: -2%;
}

nav {
  width: 1150px;
  height: 36px;
  display: flex;
  margin: 0px auto;
  font-size: 18px;
  justify-content: start;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin-top: 50px;
}
nav ul a {
  text-decoration: none;
  color: #2d2d2d;
}
nav ul a:hover {
  color: rgb(97, 86, 86);
}
nav .input-div {
  position: absolute;
  right: 5%;
  top: 18%;
  display: inline-block;
  border: 1px solid #2d2d2d;
  padding: 5px;
}
nav .input-div input {
  border: none;
  outline: none;
}
nav .input-div i {
  color: #a9a4a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background: whitesmoke;
}

.contaner_blog_stansiya {
  margin: 0 auto;
  width: 1168px;
}
.contaner_blog_stansiya h1 {
  margin: 50px 0px;
}
.contaner_blog_stansiya pre {
  white-space: pre-wrap;
  margin: 50px 0px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.contaner_blog_stansiya .img_blog img {
  width: 565px;
  height: 493px;
}

.kartochki {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-bottom: 100px;
}
.kartochki div {
  width: 370px;
  height: 589px;
  background: white;
}
.kartochki div h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  margin: auto;
  background: white;
}
.kartochki div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin: auto;
  background: white;
}
.kartochki div button {
  width: 203.3px;
  height: 46.22px;
  background: #fcb427;
  color: white;
  border: none;
  margin: 10px px;
}

.navigasiya_headerline {
  display: flex;
  justify-content: space-between;
}
.navigasiya_headerline div {
  display: grid;
  grid-template-columns: auto auto;
}
.navigasiya_headerline div img:first-child {
  margin-top: 16px;
  margin-right: 20px;
}

.kontakti_blog img {
  width: 100%;
  height: 548px;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 1400px) {
  .last-card {
    display: none;
  }
}
.main {
  padding: 50px 244px;
  margin: 0 auto;
}
.main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main .main-header {
  margin: 100px 0;
}
.main .main-header h1 {
  margin-bottom: 50px;
  font-size: 40px;
}
.main .main-imges {
  width: 100%;
  margin: 0 auto;
}
.main .main-imges .imges-group {
  padding: 20px 0;
  display: flex;
  gap: 30px;
}
.main .main-text {
  padding: 100px 0;
}
.main .main-text p {
  text-align: left;
  color: #2d2d2d;
  font-size: 16px;
  line-height: 25.07px;
}
.main .main-card h1 {
  margin-bottom: 50px;
}
.main .main-card .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}
.main .main-card .cards .card h3 {
  margin: 14px;
}
.main .main-card .button {
  text-align: center;
  padding: 20px 0;
}
.main .main-card .button button {
  padding: 15px 50px;
  border: 1px solid #fcb427;
}
@media screen and (max-width: 1620px) {
  .main .imges-group {
    overflow-x: scroll;
  }
  .main .last-card {
    display: none;
  }
  .main main {
    padding: 0;
  }
  .main ::-webkit-scrollbar {
    width: 2em;
    height: 1em;
  }
  .main ::-webkit-scrollbar-track {
    background: hsl(120, 8%, 80%);
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  .main ::-webkit-scrollbar-thumb {
    background: hsl(120, 4%, 45%);
    border: 0.25em solid hsl(120, 10%, 57%);
    border-radius: 100vw;
  }
  .main ::-webkit-scrollbar-thumb:hover {
    background: hsl(120, 4%, 81%);
  }
}
@media screen and (min-width: 1620px) {
  .main main {
    padding: 50px 44px;
  }
}

html {
  width: 100%;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 80px 90px;
  background-color: #2d2d2d;
  color: white;
  gap: 30px;
}
footer * {
  background-color: #2d2d2d;
}
footer p {
  font-family: sans-serif;
}
footer .ek,
footer p,
footer img {
  width: fit-content;
  width: 100%;
}
footer ul {
  width: 220px;
}
footer ul li {
  list-style: none;
  line-height: 25px;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
footer .Contactme button {
  padding: 15px 50px;
  color: #000000;
  background-color: #ffffff;
  font-family: sans-serif;
  width: 224px;
}
footer .Contactme .icons {
  display: flex;
  gap: 16px;
}
footer .Contactme .icons img {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
