
$myColor: #FCB427;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


// header start

header{
    width: 100%;
    height: 100px;
    background: #2d2d2d;
    display: flex;
    justify-content: space-around;
    color: #fff;
    line-height: 26px;
    .logo-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin-left: -5%;
        a{
            margin-left: 14%;
        }
        p{
            margin-left: 10%;
        }
    }
    .icon-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        *{
            margin-left: 2%;
        }
        button{
            background: transparent;
            color: #fff;
            padding: 15px 30px;
            border: 1px solid #FFBF1D;
            font-weight: 550;
            transition: all .4s;
            &:hover{
                background-color: #4d4c4c;
            }
        }
        i{
            color: #FFBF1D;
            margin-right: -2%;
        }
    }
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    ol{
        display: flex;
        width: 120%;
        float: left;
        margin-left: 7%;
        li{
            list-style-type: none;
            margin: 1%;
            a{
                text-decoration: none;
                color:#2d2d2d;
                transition: all .4s;
                &:hover{
                    color: rgb(97, 86, 86);
                }
            }
        }
    }
    .input-div{
        position: absolute;
        right: 5%;
        top: 16%;
        display: inline-block;
        border: 1px solid #2d2d2d;
        padding: 5px;
        margin: 20px 0;
        input{
            border: none;
            outline: none;
        }
        i{
            color: #a9a4a4;
        }
    }
}
.bg-image{
    background-image: url(../image/Изображение.png);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    position: relative;
    .arenda{
        width: 50%;
        height: 100%;
        background: #fff;
        opacity: .9;
        display: flex;
        justify-content: end;
        align-items: center;
        .arenda-container{
            width: 700px;
            height: 350px;
            .line{
                width: 300px;
                height: 4px;
                background-color: $myColor;
            }
            h2{
                font-size: 44px;
                line-height: 70px;
            }
            p{
                width: 80%;
                line-height: 30px;
                color: #4d4c4c;
            }
            button{
                padding: 15px 30px;
                font-weight: 550;
                border: 1px solid;
                background: transparent;
                margin-right: 20px;
                transition: all .4s;
                &:hover{
                    background: $myColor;
                    color: #fff;
                    border: 1px solid $myColor;
                }
            }
        }
    }
    button{
        padding: 30px 33px;
        border: 2px solid #fff;
        transition: all .4s;
        z-index: 2;
        
        i{
            font-size: 35px;
            color: #fff;
        }
        &:hover{
            background-color: $myColor;
            border: 2px solid $myColor;
        }
    }
    #btn1{
        margin-left: -90px;
    }
    h1{
        position: absolute;
        font-size: 100px;
        text-transform: uppercase;
        right: 0;
        top: 87%;
        color: transparent;
        -webkit-text-stroke: 1px rgb(141, 140, 140);
    }
}
.default{
    width: 100%;
    height: 50px;
    background-color: rgb(242, 240, 240);
}
.arendu{
    display: flex;
    width: 80%;
    margin: auto;
    .spets{
        position: relative;
        h2{
            font-size: 45px;
            margin-left: 4%;
            span{
                color: $myColor;
            }
            .gruzchik{
                position: absolute;
                bottom: -10%;
            }
        }
    }
    .info{
        width: 450px;
        line-height: 30px;
        margin-top: 5%;
        position: relative;
        h2{
            font-size: 26px;
        }
        p{
            color: #4d4c4c;
        }
        button{
            padding: 15px 30px;
            background: transparent;
            font-weight: 550;
            border: 1px solid;
            transition: all .4s;
            &:hover{
                background: $myColor;
                color: #fff;
                border: 1px solid $myColor;
            }
        }
        .rightLeft{
            position: absolute;
            right: 10%;
            top: 55%;
        }
        .gradient{
            position: absolute;
            top: 70%;
            width: 100%;
            height: 5px;
            background-image: linear-gradient(to right, rgb(69, 68, 68) 25%, rgb(197, 194, 194) 25% 100% );
        }
        .position_text{
            position: absolute;
            right: -60%;
            top: 0%;
            text-transform: uppercase;
            font-size: 130px;
            z-index: -1;
            opacity: .05;
        }
    }
}
.s_nami{
    width: 100%;
    height: 65vh;
    background: rgba(243, 243, 243, 1);
    
}
.s_nami{
    h2{
        margin-left: 5%;
        font-size: 35px;
    }
    .s_nami_container{
        width: 90%;
        margin: auto;
        display: flex;
        .kompany{
            width: 40%;
            p{
                color: #4d4c4c;
            }
            button{
                padding: 15px 30px;
                background: transparent;
                border: 1px solid;
                transition: all .4s;
                font-weight: 550;
                &:hover{
                    background-color: $myColor;
                    border: 1px solid $myColor;
                    color: #fff;
                }
            }
        }
        .postavka{
            display: grid;
            grid-template-columns: 200px 200px;
            text-align: center;
            margin-left: 15%;
            .png{
              
            }
        }
    }
}

