*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// header {
//     width: 100%;
//     .container {
//         height: 55px;
//         line-height: 55px;
//         width: 80%;
//         margin: auto;
//         .hdr-left-d{    
//             margin: 0px 20px;  
//             display: flex;     
//         }
//         .hdr-right-d {  
//             margin-left: 5%;
//             position: absolute;
//             top: 1px;
//             right: 200px; 
//             height: 55px;
//             .hdr-first-tex {
//             }
//         }
//     }
// }

// @media //
@media only screen and (max-width: 1400px){
  header {
    width: 50%;
  }
}

header {
    width: 100%;
    background-color: #2D2D2D;
    height: 125px;
    padding: 30px 0px;
    color: #fff;
    font-weight: bold;
    .container {
        width: 90%;
        margin: auto;
        display: flex;
        .hdr-left-d {
            display: flex;
            width: 30%;
            p {
                margin-left: 4%;
            }
        }
        .hdr-right-d {
            display: flex;
            margin-left: 5%;
            .hdr-first-tex {
                display: flex;
                margin-top: 3%;
                .next {
                    padding-left: 25px;
                    display: flex;
                    img {
                       padding: 0px 5px;
                    }
                }
            }
            .hdr-second-tex p{
                position: absolute;
                right: 350px;
                top: 45px;
                border: 1px solid #FFBF1D;
                padding: 10px;
            }
        }
        .hdr_code {
            position: absolute;
            right: 100px;
            top: 30px;
            img {
               position: absolute;
               right: 135px;
               top: 15px;
            }
        }
    }
    .second-hdr {
        width: 100%;
        nav {
            margin: 50px 20px;
            ul{
                display: flex;
                li{
                    list-style-type: none;
                    margin: 0px 15px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .active {
          color: coral; !important
        }
    }
    .hdr-left-input {
        margin-left: 33%;
        i {
           transform: translateX(-25px) translateY(2px);
        }
        input {
            padding: 5px 10px;
            outline: none;
            border-radius: 3px;
        }
    }
}
// main //
main {
    width: 100%;
    padding-top: 10%;
    background-color: #F3F3F3;
    padding-bottom: 10%;
    .container {
        display: flex;
        width: 90%;
        margin: auto;
        .l-div {
            p {
                width: 450px;
            }
        }
        .right-img {
            margin-left: 10%;
            img {
                height: 430px;
                width: 600px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
// main-2 //
.main-2 {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    .container {
        width: 90%;
        margin: auto;
        .flex {
            display: flex;
            flex-wrap: wrap;
            width: calc(90% + 100px);
            padding-left: 2%;
        }
        .card {
            margin: 10px 40px;
            img {
                width: 300px;
            }
            button{
                height: 100px;
                width: 300px;
                border: none;
                outline: none;
                background-color: #FFBF1D;
                color: #fff;
                font-size: 18px;
            }
        }
    }
}
// main-3 //
.main-3 {
    width: 100%;
    background-color: #F3F3F3;
    padding-bottom: 10%;
    padding-top: 10%;
    .container {
        width: 90%;
        margin: auto;
        .flex-2 {
            display: flex;
            padding-left: 1%;
            img {
                margin: 0px 15px;
            }
        }
    }
}
// main-4 //
.main-4 {
    width: 100%;
    padding-top: 5%;
    background-color: #2D2D2D;
    padding-bottom: 10%;
    .container {
        width: 90%;
        margin: auto;
        h1 {
            color: #fff;
        }
        .flex-3 {
            display: flex;
            .card2 {
                text-align: center;
                color: #fff;
                margin: 0px 20px;
                p{
                    width: 250px;
                }
            }
        }
    }
}
// main-5 //
.main-5 {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    .container {
        width: 90%;
        margin: auto;
        p {
            margin-top: 5%;
        }
    }
}
// main-6 //
.main-6 {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    .container {
        width: 90%;
        margin: auto;
        .b-first-d {
            display: flex;
            flex-direction: column;
            width: 500px;
            .d-2 {
                p{
                    display: flex;
                   img{
                    margin: 0px 10px;
                   } 
                }
            }
            .d-3 {
                margin-left: 8%;
               .img1 {
                position: absolute;
                left: 75px;
                top: 708%;
               }
               .next-to2 {
                margin-left: 55%;
                transform: translateY(-55px);
               }
            }
        }
    }
}

  width: 100%;
  height: 100px;
  background: #2d2d2d;
  display: flex;
  justify-content: space-around;
  color: #fff;
  line-height: 26px;
  .logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: -5%;
    a {
      margin-left: 14%;
    }
    p {
      margin-left: 10%;
    }
  }
  .icon-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    * {
      margin-left: 2%;
    }
    button {
      background: transparent;
      color: #fff;
      padding: 15px 30px;
      border: 1px solid #ffbf1d;
      font-weight: 550;
      transition: all 0.4s;
      &:hover {
        background-color: #4d4c4c;
      }
    }
    i {
      color: #ffbf1d;
      margin-right: -2%;
    }
  }
}

nav {
  width: 1150px;
  height: 36px;
  display: flex;
  margin: 0px auto;
  font-size: 18px;
  justify-content: start;
  align-items: center;
  ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 50px;
    a {
      text-decoration: none;
      color: #2d2d2d;
      &:hover {
        color: rgb(97, 86, 86);
      }
    }
  }
  .input-div {
    position: absolute;
    right: 5%;
    top: 18%;
    display: inline-block;
    border: 1px solid #2d2d2d;
    padding: 5px;
    input {
      border: none;
      outline: none;
    }
    i {
      color: #a9a4a4;
    }
  }
}
// header end

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background: whitesmoke;
}
.contaner_blog_stansiya {
  margin: 0 auto;
  width: 1168px;
  h1 {
    margin: 50px 0px;
  }
  pre {
    white-space: pre-wrap;
    margin: 50px 0px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .img_blog {
    img {
      width: 565px;
      height: 493px;
    }
  }
}
.kartochki {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-bottom: 100px;
  div {
    width: 370px;
    height: 589px;
    background: white;
    h6 {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 2px;
      text-align: left;
      margin: auto;
      background: white;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      margin: auto;
      background: white;
    }
    button {
      width: 203.3px;
      height: 46.22px;
      background: #fcb427;
      color: white;
      border: none;
      margin: 10px px;
    }
  }
}
.navigasiya_headerline {
  display: flex;
  justify-content: space-between;
  div {
    display: grid;
    grid-template-columns: auto auto;
    img:first-child {
      margin-top: 16px;
      margin-right: 20px;
    }
  }
}
.kontakti_blog {
  img {
    width: 100%;
    height: 548px;
  }
}
/* Стили для мобильных устройств */
@media screen and (max-width: 1400px) {
  .last-card {
    display: none;
  }
}
// END blog_stranisiy_statiya-fozil
// object page Abrorjon
.main {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  padding: 50px 244px;
  margin: 0 auto;

  .main-header {
    margin: 100px 0;
    h1 {
      margin-bottom: 50px;
      font-size: 40px;
    }
  }
  .main-imges {
    width: 100%;
    margin: 0 auto;
    .imges-group {
      padding: 20px 0;
      display: flex;
      gap: 30px;
    }
  }
  .main-text {
    padding: 100px 0;
    p {
      text-align: left;
      color: #2d2d2d;
      font-size: 16px;
      line-height: 25.07px;
    }
  }
  .main-card {
    // margin: 0 auto;
    h1 {
      margin-bottom: 50px;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      justify-content: space-between;
      text-align: center;
      gap: 30px;
      .card {
        h3 {
          margin: 14px;
        }
      }
    }
    .button {
      text-align: center;
      padding: 20px 0;
      button {
        padding: 15px 50px;
        border: 1px solid #fcb427;
      }
    }
  }
  @media screen and (max-width: 1620px) {
    .imges-group {
      overflow-x: scroll;
    }
    .last-card {
      display: none;
    }
    main {
      padding: 0;
    }
    ::-webkit-scrollbar {
      width: 2em;
      height: 1em;
    }
    ::-webkit-scrollbar-track {
      background: hsl(120, 8%, 80%);
      border-radius: 100vw;
      margin-block: 0.5em;
    }
    ::-webkit-scrollbar-thumb {
      background: hsl(120, 4%, 45%);
      border: 0.25em solid hsl(120, 10%, 57%);
      border-radius: 100vw;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: hsl(120, 4%, 81%);
    }
  }
  @media screen and (min-width: 1620px) {
    main {
      padding: 50px 44px;
    }
  }
}
// object page Abrorjon
// footer css code Abrorjon
html {
  width: 100%;
}
footer {
  * {
    background-color: #2d2d2d;
  }
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 80px 90px;
  background-color: #2d2d2d;
  color: white;
  gap: 30px;
  p {
    font-family: sans-serif;
  }
  .ek,
  p,
  img {
    width: fit-content;
    width: 100%;
  }
  ul {
    width: 220px;
    li {
      list-style: none;
      line-height: 25px;
      a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
      }
    }
  }
  .Contactme {
    button {
      padding: 15px 50px;
      color: #000000;
      background-color: #ffffff;
      font-family: sans-serif;
      width: 224px;
    }
    .icons {
      display: flex;
      gap: 16px;
      img {
        width: 30px;
      }
    }
  }
}

