* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  background-color: #2D2D2D;
  height: 125px;
  padding: 30px 0px;
  color: #fff;
  font-weight: bold;
}
header .container {
  width: 90%;
  margin: auto;
  display: flex;
}
header .container .hdr-left-d {
  display: flex;
  width: 30%;
}
header .container .hdr-left-d p {
  margin-left: 4%;
}
header .container .hdr-right-d {
  display: flex;
  margin-left: 5%;
}
header .container .hdr-right-d .hdr-first-tex {
  display: flex;
  margin-top: 3%;
}
header .container .hdr-right-d .hdr-first-tex .next {
  padding-left: 25px;
  display: flex;
}
header .container .hdr-right-d .hdr-first-tex .next img {
  padding: 0px 5px;
}
header .container .hdr-right-d .hdr-second-tex p {
  position: absolute;
  right: 350px;
  top: 45px;
  border: 1px solid #FFBF1D;
  padding: 10px;
}
header .container .hdr_code {
  position: absolute;
  right: 100px;
  top: 30px;
}
header .container .hdr_code img {
  position: absolute;
  right: 135px;
  top: 15px;
}
header .second-hdr {
  width: 100%;
}
header .second-hdr nav {
  margin: 50px 20px;
}
header .second-hdr nav ul {
  display: flex;
}
header .second-hdr nav ul li {
  list-style-type: none;
  margin: 0px 15px;
}
header .second-hdr nav ul li a {
  text-decoration: none;
  color: black;
}
header .hdr-left-input {
  margin-left: 33%;
}
header .hdr-left-input i {
  transform: translateX(-25px) translateY(2px);
}
header .hdr-left-input input {
  padding: 5px 10px;
  outline: none;
  border-radius: 3px;
}

main {
  width: 100%;
  padding-top: 10%;
  background-color: #F3F3F3;
  padding-bottom: 10%;
}
main .container {
  display: flex;
  width: 90%;
  margin: auto;
}
main .container .l-div p {
  width: 450px;
}
main .container .right-img {
  margin-left: 10%;
}
main .container .right-img img {
  height: 430px;
  width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-2 {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
}
.main-2 .container {
  width: 90%;
  margin: auto;
}
.main-2 .container .flex {
  display: flex;
  flex-wrap: wrap;
  width: calc(90% + 100px);
  padding-left: 2%;
}
.main-2 .container .card {
  margin: 10px 40px;
}
.main-2 .container .card img {
  width: 300px;
}
.main-2 .container .card button {
  height: 100px;
  width: 300px;
  border: none;
  outline: none;
  background-color: #FFBF1D;
  color: #fff;
  font-size: 18px;
}

.main-3 {
  width: 100%;
  background-color: #F3F3F3;
  padding-bottom: 10%;
  padding-top: 10%;
}
.main-3 .container {
  width: 90%;
  margin: auto;
}
.main-3 .container .flex-2 {
  display: flex;
  padding-left: 1%;
}
.main-3 .container .flex-2 img {
  margin: 0px 15px;
}

.main-4 {
  width: 100%;
  padding-top: 5%;
  background-color: #2D2D2D;
  padding-bottom: 10%;
}
.main-4 .container {
  width: 90%;
  margin: auto;
}
.main-4 .container h1 {
  color: #fff;
}
.main-4 .container .flex-3 {
  display: flex;
}
.main-4 .container .flex-3 .card2 {
  text-align: center;
  color: #fff;
  margin: 0px 20px;
}
.main-4 .container .flex-3 .card2 p {
  width: 250px;
}

.main-5 {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.main-5 .container {
  width: 90%;
  margin: auto;
}
.main-5 .container p {
  margin-top: 5%;
}

.main-6 {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.main-6 .container {
  width: 90%;
  margin: auto;
}
.main-6 .container .b-first-d {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.main-6 .container .b-first-d .d-2 p {
  display: flex;
}
.main-6 .container .b-first-d .d-2 p img {
  margin: 0px 10px;
}
.main-6 .container .b-first-d .d-3 {
  margin-left: 8%;
}
.main-6 .container .b-first-d .d-3 .img1 {
  position: absolute;
  left: 75px;
  top: 708%;
}
.main-6 .container .b-first-d .d-3 .next-to2 {
  margin-left: 55%;
  transform: translateY(-55px);
}/*# sourceMappingURL=style.css.map */