* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background: #2d2d2d;
  display: flex;
  justify-content: space-around;
  color: #fff;
  line-height: 26px;
}
header .logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: -5%;
}
header .logo-div a {
  margin-left: 14%;
}
header .logo-div p {
  margin-left: 10%;
}
header .icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
header .icon-div * {
  margin-left: 2%;
}
header .icon-div button {
  background: transparent;
  color: #fff;
  padding: 15px 30px;
  border: 1px solid #FFBF1D;
  font-weight: 550;
  transition: all 0.4s;
}
header .icon-div button:hover {
  background-color: #4d4c4c;
}
header .icon-div i {
  color: #FFBF1D;
  margin-right: -2%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}
nav ol {
  display: flex;
  width: 170%;
  float: left;
  margin-left: 8%;
  margin-top: 2%;
}
nav ol li {
  list-style-type: none;
  margin: 1%;
}
nav ol li a {
  text-decoration: none;
  color: #2d2d2d;
  transition: all 0.4s;
}
nav ol li a:hover {
  color: rgb(97, 86, 86);
}
nav .input-div {
  position: absolute;
  right: 5%;
  top: 18%;
  display: inline-block;
  border: 1px solid #2d2d2d;
  padding: 5px;
}
nav .input-div input {
  border: none;
  outline: none;
}
nav .input-div i {
  color: #a9a4a4;
}

.companysection1 {
  width: 100%;
  height: 1000px;
  font-family: sans-serif;
  background-color: #f7f6f6;
}

.companysection1 h4 {
  margin-top: 51px;
  margin-left: 70px;
  font-family: sans-serif;
}

.companysection1 span {
  color: #a9a4a4;
  font-family: sans-serif;
}

.companysection1 h1 {
  margin-top: 71px;
  margin-left: 70px;
  line-height: 62px;
  font-size: 40px;
}

.companysection1 p {
  font-size: 16px;
  line-height: 25px;
  margin-left: 70px;
  margin-top: 7%;
}

.companysection1 img {
  float: right;
  width: 688px;
  height: 542px;
}

.companysection2 {
  width: 100%;
  height: 1270px;
  font-family: sans-serif;
}

.companysection2 h1 {
  font-size: 40px;
  line-height: 56px;
  margin-top: 55px;
  margin-left: 70px;
}

.companysection2 h2 {
  font-size: 155px;
  font-family: sans-serif;
  color: #f0efef;
}

.companylist {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  margin-left: 70px;
}

.company-box img {
  width: 300px;
  height: 380px;
  margin-left: 0px;
}

.company-box h4 {
  width: 301px;
  height: 52px;
  margin-left: 0px;
  background-color: #FFBF1D;
  line-height: 25px;
  font-size: 18px;
  align-items: center;
  text-align: center;
}

.companysection2 h3 {
  font-size: 155px;
  font-family: sans-serif;
  color: #f0efef;
  float: right;
}

.companysection3 {
  width: 100%;
  height: 960px;
  background-color: #f7f6f6;
  font-family: sans-serif;
}

.companysection3 h1 {
  font-size: 40px;
  line-height: 56px;
  padding-top: 100px;
  margin-left: 70px;
}

.companylist2 {
  display: flex;
  margin-left: 70px;
  margin-top: 90px;
}

.company-box2 img {
  width: 350px;
  height: 500px;
  margin-right: 50px;
}

.liner {
  width: 400px;
  height: 5px;
  background: linear-gradient(to left, rgb(207, 205, 205) 40%, black 40% 70%, rgb(207, 205, 205) 70%);
  border-radius: 5px;
  margin-left: 480px;
  margin-top: 30px;
}

.companysection4 {
  width: 100%;
  height: 530px;
  background-color: #2d2d2d;
  font-family: sans-serif;
}

.companysection4 h1 {
  font-size: 40px;
  line-height: 56px;
  padding-top: 100px;
  margin-left: 70px;
  color: #fff;
}

.numbers {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 170px;
  margin-top: 30px;
}

.number-box h2 {
  font-family: Verdana;
  font-size: 96px;
  line-height: 96px;
  color: #454545;
  margin-right: 150px;
}

.numbers2 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 170px;
}

.number-box2 h3 {
  font-size: 64px;
  line-height: 64px;
  color: #fff;
  font-family: Verdana;
  margin-right: 200px;
  margin-top: -60px;
}

.numbers3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 170px;
}

.number-box3 h4 {
  font-size: 28px;
  line-height: 39px;
  color: #fff;
  align-items: center;
  font-family: Verdana;
  margin-right: 25px;
  margin-top: 10px;
}

.number-box3 p {
  font-size: 14px;
  line-height: 25px;
  font-family: Verdana;
  color: #fff;
  margin-top: 10px;
}

.companysection5 {
  width: 100%;
  height: 1180px;
  background-color: #f7f6f6;
}

.companysection5 h1 {
  font-size: 40px;
  line-height: 56px;
  padding-top: 100px;
  margin-left: 70px;
}

.companysection5 p {
  font-size: 16px;
  line-height: 25px;
  margin-left: 70px;
  margin-top: 50px;
}

.companysection6 {
  width: 100%;
  height: 580px;
}

.companysection6 h1 {
  font-size: 40px;
  line-height: 56px;
  padding-top: 100px;
  margin-left: 70px;
}

.companysection6 p {
  font-size: 16px;
  line-height: 25px;
  margin-left: 70px;
  margin-top: 50px;
  font-family: sans-serif;
}

.in1 {
  width: 400px;
  height: 40px;
  float: right;
  padding-left: 20px;
  margin-right: 250px;
  font-family: sans-serif;
  border: 1px solid #b0b0b0;
  background-color: #f9f9f9;
}

.inline1 {
  float: right;
}

.in2 {
  width: 180px;
  height: 40px;
  padding-left: 20px;
  margin-right: 27px;
  font-family: sans-serif;
  border: 1px solid #b0b0b0;
  background-color: #f9f9f9;
}

.in3 {
  width: 180px;
  height: 40px;
  padding-left: 20px;
  margin-right: 251px;
  font-family: sans-serif;
  border: 1px solid #b0b0b0;
  background-color: #f9f9f9;
}

.in4 {
  width: 400px;
  height: 130px;
  float: right;
  padding-left: 20px;
  margin-right: -400px;
  margin-top: 90px;
  font-family: sans-serif;
  border: 1px solid #b0b0b0;
  background-color: #f9f9f9;
}

.inline2 {
  float: right;
  margin-top: 220px;
  margin-right: -403px;
}

.in5 {
  width: 20px;
  height: 20px;
}

.in6 {
  width: 370px;
  height: 20px;
  font-size: 10px;
}

#local1 {
  margin-top: 25px;
  font-size: 30px;
  color: #FFBF1D;
  margin-left: 100px;
}

#local2 {
  margin-top: -35px;
  margin-left: 150px;
}

#local3 {
  margin-top: 65px;
  font-size: 30px;
  color: #FFBF1D;
  margin-left: 100px;
}

.pre1 {
  margin-left: 150px;
  margin-top: -40px;
}

#local4 {
  margin-top: -85px;
  font-size: 30px;
  color: #FFBF1D;
  margin-left: 350px;
}

.pre2 {
  margin-left: 370px;
  margin-top: -93px;
}

.orange {
  width: 410px;
  height: 40px;
  background-color: #FFBF1D;
  color: #fff;
  margin-left: 700px;
  margin-top: -100px;
  text-align: center;
  padding-top: 10px;
}

.companysection7 {
  width: 100%;
  height: 548px;
}

.companysection7 img {
  width: 100%;
  height: 548px;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 80px 90px;
  background-color: #2d2d2d;
  color: white;
  gap: 30px;
}
footer * {
  background-color: #2d2d2d;
}
footer p {
  font-family: sans-serif;
}
footer .ek, footer p, footer img {
  width: fit-content;
}
footer ul {
  width: 220px;
}
footer ul li {
  list-style: none;
  line-height: 25px;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
footer .Contactme button {
  padding: 15px 50px;
  color: #000000;
  background-color: #FFFFFF;
  font-family: sans-serif;
  width: 224px;
}
footer .Contactme .icons {
  display: flex;
  gap: 16px;
}
footer .Contactme .icons img {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
